
.logWindow {
  position: relative;
  overflow: hidden;
}

.logWidget .logPane {
  font-family: monospace;
  overflow: auto;
}

.logWidget .logPane pre {
  white-space: pre-wrap;
}

.logWidget .logPane .trace {
  color: #808080;
}

.logWidget .logPane .debug {
  color: #000000;
}

.logWidget .logPane .info {
  color: #008000;
  font-weight: bold;
}

.logWidget .logPane .warn {
  color: #ff8000;
  font-weight: bold;
}

.logWidget .logPane .error {
  color: #ff0000;
  font-weight: bold;
}

.logWidget .logPane .topic {
  color: #2040c0;
	}

.logWidget .logPane .event {
  color: #008080;
}

.logWidget .controlPanel {
    border-top: 1px solid #808080;
}

.logWidget .logPane hr {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  height: 4px;
  background-color: #ffc000;
}

