<div class="logWidget">
    
    <div class="layoutContainer"
        data-dojo-type="dijit.layout.BorderContainer"
        data-dojo-props="design: 'headline'"
        data-dojo-attach-point="layoutContainer">
        <div class="logPane"
            data-dojo-type="dijit.layout.ContentPane"
            data-dojo-props="region: 'center'"
            data-dojo-attach-point="logPane">
        </div>
        <div class="controlPanel"
            data-dojo-type="dijit.layout.ContentPane"
            data-dojo-props="region: 'bottom'"
            data-dojo-attach-point="controlPanel">
            <input type="checkbox" checked="checked" data-dojo-attach-point="isAutoScroll">
            <label for="isAutoScroll">Auto-scroll</label>
            <button type="button" data-dojo-attach-point="markButton"><span>Mark</span></button>
            <button type="button" data-dojo-attach-point="selectButton"><span>Select</span></button>
            <button type="button" data-dojo-attach-point="clearButton"><span>Clear</span></button>
        </div>
    </div>

</div>
