
.tcjsDialog .dijitDialogCloseIcon {
	display: none;
}

.tcjsDialogButtonsPanel {
  margin-top: 0.5em;	
}

.tcjsDialogButtons {
  text-align: right;  
}

.tcjsDialogButtons .dijitButtonNode {
	min-width: 8em;
}
