<div class="${baseClass}">
  <div class="${baseClass}Buttons"
    data-dojo-attach-point="buttonsNode">
  </div>
  <div class="${baseClass}ContentContainer"
    data-dojo-attach-point="containerNode">
  </div>
</div>